@font-face {
font-family: 'Uni Sans Heavy';
src: url('../fonts/UniSansHeavy.eot');
src: url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/UniSansHeavy.woff') format('woff'),
url('../fonts/UniSansHeavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
			font-family: "BebasRegular";
			src: url("../fonts/BebasRegular.eot");
			src: url("../fonts/BebasRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasRegular.woff") format("woff"),
			url("../fonts/BebasRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

html {
  overflow: scroll;
}
body {
  width: 100vw;
  height: 1000px;
}

.welcome {
  display: flex;
  position: relative;
  width: 100vw;
  height: 50vw;
  background: #02071c;
}


.count{
  position: absolute;
  margin-top: 20vw;
  margin-left: 26vw;
}

.sum{
  color: white;
  font-size: 11vw;
  font-family: 'Uni Sans Heavy' ;
}

.ticket{
  color: white;
  font-size: 5vw;
  font-family: 'Uni Sans Heavy'
}

.text{
  position: absolute;
  margin-left: 27vw;
  margin-top: 30vw;
}

img{
  position: absolute;
  width: 25vw;
  transform: rotate(45deg);
}

.img1{
  margin-top: 5vw;
  margin-left: 10vw;
}
.img2{
  margin-top: 5vw;
  margin-left: 70vw;
}

.img3{
  margin-top: 35vw;
  margin-left: 10vw;
}

.img4{
  margin-top: 35vw;
  margin-left: 70vw;
}

.typograf{
  position: absolute;
  width: 100vw;
  height: 56vw;
  background: #02071c;
}



h1{
  font-size: 30px;
  font-family: 'BebasRegular';
  text-transform: uppercase;
  color: #06fcfc;
}

.content{
  display: flex;
  position: relative;
  margin-top: 40px;
	margin-left: 130px;

}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
  position: absolute;
  font-size: 100px;
  font-family: 'Uni Sans Heavy';
  transition: all 0.3s ease;

}
.p1{
  margin-top: 260px;
  animation-duration: 3s;
  animation-name: p1;
  margin-left: 440px;
  color: #06fcfc;
}
/* @keyframes p1 {
from{
  margin-left: -200px;
}
to{
  margin-left:110px;
}
} */

.p2{
  margin-top: 160px;
  animation-duration: 3s;
  animation-name: kg;
  margin-left: 955px;
  color: #06fcfc;
	transform: rotate(270deg);
}
/* @keyframes kg {
from{
  margin-left: 2000px;
}
to{
  margin-left: 400px;

}
} */

.p3{
  margin-top: 360px;
  animation-duration: 3s;
  animation-name: p3;
  margin-left: -105px;
	transform: rotate(270deg);
  color: #06fcfc;
}
/* @keyframes p3 {
from{
  margin-left: 2000px;
}
to{
  margin-left: 800px;

}
} */

.p4{
  margin-top: 450px;
  animation-duration: 3s;
  animation-name: p4;
  margin-left: 520px;
  color: #06fcfc;
}
/* @keyframes p4 {
from{
  margin-left: -200px;
}
to{
  margin-left: 120px;

}
} */

.p5{
  margin-top: 80px;
  animation-duration: 3s;
  animation-name: p5;
  margin-left: 80px;
  color: #ff00e7;
}
/* @keyframes p5 {
from{
  margin-left: -200px;
}
to{
  margin-left: 380px;

}
} */

.p6{
  margin-top: 360px;
  animation-duration: 3s;
  animation-name: p5;
  margin-left: 180px;
  color: #ff00e7;
}
.p7{
  margin-top: 565px;
  animation-duration: 3s;
  animation-name: p5;
  margin-left: 180px;
  color: #06fcfc;
}

.pp8{
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: 495px;
  margin-left: 990px;
  animation-name: littletext;
  animation-duration: 10s;
	transform: rotate(270deg);
}

.p8{
  font-size: 15px;
  font-family: 'BebasRegular';
  text-transform: uppercase;
  color: #06fcfc;
}

.pp9{
  position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 80px;
  margin-left: 600px;
  animation-name: littletext;
  animation-duration: 10s;
}

.p9{
  font-size: 22px;
  font-family: 'BebasRegular';
  text-transform: uppercase;
  color: #06fcfc;
  font-weight:lighter;
}

.pp10{
  position: absolute;
  width: 235px;
  height: 100px;
  margin-top: 180px;
  margin-left: 180px;
  animation-name: littletext;
  animation-duration: 10s;
}

.p10{
  font-size: 20px;
  font-family: 'BebasRegular';
  text-transform: uppercase;
  color: #06fcfc;
  font-weight:lighter;
}

.pp11{
  position: absolute;
  width: 250px;
  height: 100px;
  margin-top: 460px;
  margin-left: 185px;
  animation-name: littletext;
  animation-duration: 10s;
}

.p11{
  font-size: 15px;
  font-family: 'BebasRegular';
  text-transform: uppercase;
  color: #06fcfc;
  font-weight:lighter;
}

.pp12{
  position: absolute;
  width: 350px;
  height: 100px;
  margin-top: 545px;
  margin-left: 690px;
  animation-name: littletext;
  animation-duration: 10s;
}

.p12{
  font-size: 25px;
  font-family: 'BebasRegular';
  text-transform: uppercase;
  color: #ff00e7;
  font-weight:lighter;
}

/* @keyframes littletext {
from{
  opacity: 0;
}
to{
  opacity: 100%;

}
} */

a{
  position: absolute;
  display: inline-block;
  border: 3px solid #06fcfc;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 17px;
  padding-bottom: 9px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "BebasRegular";
  font-size: 2vw;
  text-transform: uppercase;
  color: #06fcfc;
  margin-top: 47vw;
  margin-left: 43vw;
  transition: all 0.3s ease;
}

a:hover {
  transform: scale(1.2);
}

.p1:hover {
  transform: scale(1.2);
}

.p2:hover {
  transform: scale(1.2);
}

.p3:hover {
  transform: scale(1.2);
}

.p4:hover {
  transform: scale(1.2);
}

.p5:hover {
  transform: scale(1.2);
}

.p6:hover {
  transform: scale(1.2);
}

.p7:hover {
  transform: scale(1.2);
}
